@media (max-width: 479px) {

    :root {
        --font_size: 16px;
        --font_size_title: 28px;
    }

    .modal_img {
        width: 100%;
        height: auto;
    }
    .header_title {
        font-size: 34px;
        padding-top: 160px;
        text-align: start;
    }
    .header_text {
        font-size: 20px;
        text-align: start;
    }
    .header_calc {
        margin-top: 20px;
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    .header_calc b {
        font-size: 20px;
        text-align: start;        
    }
    .header_btn {
        width: 100%;
        margin: 0 auto;
    }
    header {
        padding-bottom: 44px;
    }
    .banner_btn {
        width: 100%;
    }
    .stage_items {
        gap: 12px;
    }
    .stage_items > * {
        width: 100%;
        margin-bottom: 0;
    }
    .stage_item:nth-child(3n + 2) {
        margin-bottom: 0px;
    }
    .callback_text br {
        display: none;
    }
    .about_item ul li {
        font-size: 16px;
    }
    .banner_text {
        font-size: 18px;
    }
    .banner_title {
        font-size: 32px;
    }
    .banner_text p + p {
        margin-top: 20px;
    }
    .partners_text {
        font-size: 16px;
    }
    .btn {
        width: 100%;
    }
    .reviews_item-bottom {
        margin-top: 24px;
        flex-direction: column;
        align-items: flex-start;
    }
    .reviews .swiper-horizontal > .swiper-pagination-bullets, 
    .reviews .swiper-pagination-bullets.swiper-pagination-horizontal, 
    .reviews .swiper-pagination-custom, 
    .reviews .swiper-pagination-fraction {
        bottom: -5px;
    }
    .callback_img {
        display: none;
    }


    




   
}
